/CLASES14_10.ipynb
/Clase15_10.ipynb
/Clase_18.ipynb
/Clases15_10_2.ipynb
/Ejemplos funciones III_clase15
/Tarea 8_3.ipynb
/Tarea1.ipynb
/Tarea2.ipynb
/Tarea3.ipynb
/Tarea4.ipynb
/Tarea5.ipynb
/Tarea7.ipynb
/Tarea8.ipynb
/Tarea_factorial.ipynb
/bone.csv